<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
    Training Calendar
    <small>Training events</small>
  </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a>
        </li>
        <li class="active">Calendar</li>
    </ol>
</section>
<section class="content" ng-controller="calendarCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body no-padding">
                    <!-- THE CALENDAR -->
                    <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /. box -->
        </div>
        <!-- /.col -->
    </div>
</section>
<section class="content-header">
    <h1>Events
    <small>Add, edit and romove events.</small>
  </h1>
</section>
<section class="content">
    <event-form ctrl="ctrl" event-id="eventId"></event-form>
</section>
