body {
    padding: 50px;
    font: 14px"Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
    color: #00B7FF;
}
.login-body {
    background: url(../images/bg-noise.png) repeat;
}

.login-title {
    text-align:center;
    margin-top:100px;
    font-size:20px;
}

.login-form {
    text-align:center;
    margin-top:30px;
}

.login-form input {
    margin:5px;
    height:25px;
    width:250px; }
