body {
    padding: 50px;
    font: 14px"Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
    color: #00B7FF;
}
.login-body {
    background: url(../images/bg-noise.png) repeat;
}



.login-form {
    padding:25px 40px;
    height:200px;
    background:#EEE;
    border-radius: 8px;
    box-shadow: 8px 5px 15px #333;
    float:none;
}

.login-title {
    text-align:center;
    font-size:20px;
    margin-bottom:10px;
    width:100%;
}
.login-form input {
    height:28px;
    width:100%;
    margin-bottom:5px;
}

.login-form button {
    margin-top:5px;
    width:100%;
}
