              <!-- general form elements disabled -->
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">{{action | capitalize}} {{user.role}}</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <form role="form" name="userModal">
                    <!-- text input -->
                    <div class="form-group {{valid.name?'':'has-error'}}">
                      <label ng-show='!valid.name' class="control-label" for="inputError"><i class="fa fa-times-circle-o">&nbsp;</i>Name required!</label>
                      <label ng-show="!!valid.name">Name</label>
                      <input type="text" class="form-control" name="name" placeholder="Enter ..." ng-model="user.name">
                    </div>

                    <div class="form-group {{valid.email?'':'has-error'}}">
                      <label ng-show='!valid.email' class="control-label" for="inputError"><i class="fa fa-times-circle-o">&nbsp;</i>Wrong email address!</label>
                      <label ng-show="!!valid.email">Email</label>
                      <input type="email" class="form-control" name="email" placeholder="Enter ..." ng-model="user.email" ng-model-options="{ updateOn: 'blur' }">
                    </div>
                    <div class="box-footer">
                        <button class="btn btn-primary" type="submit" ng-click="submitUserModal()">Submit</button>
                    </div>
                  </form>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
